.nav-item .nav-link.dark{
    color: #ffffff !important;
}
.nav-item .nav-link.dark:hover{
    color: var(--bs-pink) !important;
}
.nav-item .nav-link.dark.active:hover{
    color: #ffffff !important;
}
.nav-item .nav-link.light{
    color: #49525C !important;
}
.nav-item .nav-link.active.light{
    color: #ffffff !important;
}
.nav-item .nav-link.light:hover{
    color: var(--bs-pink) !important;
}
.nav-item .nav-link.light.active:hover{
    color: #ffffff !important;
}
