@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;700&display=swap');

body{
  font-family: 'Expletus Sans', cursive;
}

.bg-pink{
  background-color: #EC4578 !important;
}
.text-pink{
  color: #EC4578 !important;
}
.mono-font{
  font-family: 'Source Code Pro', monospace;
}
.main-font{
  font-family: 'Expletus Sans', cursive;
}
.big-header{
  font-size: 60px;
}
.small-text{
  font-size: 0.8rem;
}
.med-text{
  font-size: 1.3rem;
}